<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notepad Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('partials/footer.ejs') %>
        </div>
    </div>
</body>
</html>